* { 
   margin: 100; /*метод отвечает за внешний отступ обьектов мы его обнулили обратно*/ 
   padding: 50; /*метод отвечает за внутринний отступ обьекта мы его обнулили обратно*/
}

 body {
    background-color:#c911f7/*задает цвет страницы*/
 }
 
 p{
   border:5Px solid;/*сделали рамку сплошной*/
   border-radius: 50px; /*закруглить рамуку*/
   border-color: black; /*цвет рамки*/
   font-size: 50px; /*увеличили размер текста*/
   margin: 100px; /*внешний отступ*/
   padding: 50px; /*внутреный отступ*/
    text-align: center; /*задает орентацию ексту*/
    background-color: rgb(238, 146, 8);/*задает цвет заднего фона*/
   color:020203;/*задает цвет шрифта*/
   
 }

 p:hover{
   scale: 1.1;

 }
 h1{
   margin: 100;
   padding: 50;
   text-align: center;
   color:yellow;
}
     
   
